<div class="row">
	<div class="header">
		<h1 class="logo col-md-4"><span class="cloud glyphicon glyphicon-cloud"></span>Recloud</h1> 
		<!-- Button trigger modal -->
		<div class="auth col-md-1 col-md-offset-7">
		<% if !session[:user_id] %>
			<button class="login btn btn-primary" data-toggle="modal" data-target="#loginModal"><span class="glyphicon glyphicon-user"></span>  Login</button>
		<% else %>
		<form action="/session" method="POST">
			<input type="hidden" name="_method" value="delete">
			<button class="login btn btn-primary"><span class="glyphicon glyphicon-user"></span>  Logout</button>
		<h4 class="user"><%= @user.user_name %></h4>
		</form>
		<% end %>
		</div> <!-- button -->
	</div> <!-- header -->
</div> <!-- row -->
<!-- <div class="row">
	<h3 class="user col-md-4"></h3>
</div> -->
<!-- surface v1 -->
<!-- <div class="row">
	<div class="container-fluid surface">
		<div class="surface_left col-md-4">
		<div class="deck"></div>
		</div>
		<div class="surface_center col-md-4">
			<div class="transport_left">
				<span class="transport glyphicon glyphicon-hand-left"></span>
				<span class="transport glyphicon glyphicon-backward"></span>
				<span class="transport glyphicon glyphicon-play"></span>
				<span class="transport glyphicon glyphicon-pause"></span>
				<span class="transport glyphicon glyphicon-forward"></span>
			</div>
			<div class="transport_right">
				<span class="transport glyphicon glyphicon-backward"></span>
				<span class="transport glyphicon glyphicon-play"></span>
				<span class="transport glyphicon glyphicon-pause"></span>
				<span class="transport glyphicon glyphicon-forward"></span>
				<span class="transport glyphicon glyphicon-hand-right"></span>
			</div>
		</div>
		<div class="surface_right col-md-4">
			<div class="deck"></div>
		</div>
	</div>
</div>  -->
<!-- surface row -->
<!-- 	<div class="surface">
		<div class="surface_left"></div>
		<div class="surface_center"></div>
		<div class="surface_right"></div>
	</div> -->

<!-- surface v2 -->
<div class="row">
	<div class="surface_container container-fluid">
		<div class="surface col-md-4">
		<div class="deck"></div>
		</div>
		<!-- <div class="surface transport col-md-4"> -->
			<div class="surface transport_left col-md-2">
				<span class="transport glyphicon glyphicon-hand-left"></span>
				<span class="transport glyphicon glyphicon-backward"></span>
				<span class="transport glyphicon glyphicon-play"></span>
				<span class="transport glyphicon glyphicon-pause"></span>
				<span class="transport glyphicon glyphicon-forward"></span>
			</div>
			<div class="surface transport_right col-md-2">
				<span class="transport glyphicon glyphicon-backward"></span>
				<span class="transport glyphicon glyphicon-play"></span>
				<span class="transport glyphicon glyphicon-pause"></span>
				<span class="transport glyphicon glyphicon-forward"></span>
				<span class="transport glyphicon glyphicon-hand-right"></span>
			</div>
		<!-- </div> -->
		<div class="surface col-md-4">
			<div class="deck"></div>
		</div>
	</div>
</div> 

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
        
        <div class='navbar-form navbar-left' role='search'>
       	 <div class="input-group">
	    			<input type="text" class="form-control search" name="search" autocomplete="off">
   						<span class="input-group-addon">
   							<a href='#search'><i class="glyphicon glyphicon-search"></i></a>
							</span>
					</div>
				</div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
      	<li class="active"><a href="#cloud">
      		<span class="navcloud glyphicon glyphicon-cloud"><span>
      	<!-- 	<div class="sc_logo_container">
	      		<img class="sc_logo" src="https://developers.soundcloud.com/assets/logo_big_white-bdafb3beba25fb86c2df365d05674e64.png">
	      	</div> -->
      		</a></li>
      	<li><a href="#sounds"><span id="home">Sounds</span></a></li>
        <li><a href="#sets">Sets</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<ul id="results"></ul>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title" id="myModalLabel">Login / Register</h4>
			</div>
			<div class="modal-body">
				<input type="text" name="user_name" placeholder="Username">
				<input type="text" name="password" placeholder="Password">
				<div class="error"></div>
			</div>
			<div class="modal-footer">
				<button type="button" class="loginSubmit btn btn-default" data-dismiss="modal">Login</button>
				<button type="button" class="register btn btn-primary" data-dismiss="modal">Register</button>
			</div>
		</div>
	</div>
</div>