body {
	margin: 20px;
}

.user {
	text-align: right;
}

.cloud {
	top: 13px;
/*  -webkit-mask-image: url(http://f.cl.ly/items/131E0X1b1i0X1s263R00/a.png);

  -moz-mask-image: url(http://f.cl.ly/items/131E0X1b1i0X1s263R00/a.png);

  -o-mask-image: url(http://f.cl.ly/items/131E0X1b1i0X1s263R00/a.png);

  mask-image: url(http://f.cl.ly/items/131E0X1b1i0X1s263R00/a.png);
*/
}

.navcloud {
	font-size: 17px;
}

/*.sc_logo_container{
	height: 20px;
	overflow: hidden;
}

.sc_logo {
	height: 40px;
	padding-bottom: 10px;
}*/

.logo {
	font-size: 50px;
}

button.login {
	margin: 0 auto;
}

.error {
	color: red;
}

.surface {
	background-color: silver;
/*	margin-left: 17px;
	margin-right: 17px;*/
	height: 350px;
}

/*.surface_container{
	margin-left: 17px;
	margin-right: 17px;
}
*/
ul#results {
	list-style-type: none;
}

li.results{
	display: inline;
	margin-left: 20px;
	/*margin-bottom: 15px;*/
}

button.save, button.delete {
	color: white;
	font-size: 10px;
	margin: 5px;
	vertical-align: middle;
}

.deck_left, .deck_right {
	background-color: black;
	height: 250px;
	width: 250px;
/*	height: 33%;
	width: 33%;*/
	border-radius: 100%;
	margin: 0 auto;
	margin-top: 50px;
}

.spinning {
	-webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
	0%  {-webkit-transform: rotate(0deg);}
	100% {-webkit-transform: rotate(360deg);}	
}

.deck_inner{
	background-color: white;
	height: 75px;
	width: 75px;
	border-radius: 100%;
	margin: 0 auto;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.deck_pin{
	background-color: black;
	height: 15px;
	width: 15px;
	border-radius: 100%;
	margin: 0 auto;
	position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.transport1, .transport2{
	color: black;
	font-size: 30px;
	margin-top: 225px;
}

div.embed{
	/*width: 300px;*/
  width: 220px;
  height: 150px;
  display: inline-block;  
}

iframe{
  position: relative;
  margin: -33px auto 0 auto;
  top: 50%;  
}

img {
	height: 150px;
	width: 150px;
	/*display: none;*/
}

button.save {
	background-color: red;
}
/*.surface_center{
	height: 33%;
	width: 33%;
}*/

/*.surface_right {
	background-color: black;
	height: 250px;
	width: 250px;*/
/*	height: 33%;
	width: 33%;*/
/*	border-radius: 100%;
	margin: 50px;
}*/

/*.surface_center{
	height: 300px;
	padding-top: 250px;
}

.transport_left, .transport_right {
	text-align: center;
	display: inline-block;
}

.transport_left{
	float: left;
}

.transport_right{
	float: right;
}*/